.navigation-bar-2-child {
  position: absolute;
  top: -20px;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-500);
  width: 1529px;
  height: 2293px;
}
.error-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 1077px;
  height: 249px;
}
.if-any-image {
  position: absolute;
  top: 108px;
  left: 163px;
  font-weight: 600;
}
.error,
.error-item {
  position: absolute;
  width: 1078px;
  height: 286px;
}
.error-item {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.error {
  top: 795px;
  left: 433px;
  color: var(--color-black);
}
.featured,
.pc-games-special,
.store13 {
  position: absolute;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
.store13 {
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
}
.featured,
.pc-games-special {
  top: 78px;
  left: 4px;
  font-weight: 500;
}
.pc-games-special {
  top: 574px;
  left: 13px;
}
.games-we-picked,
.top-free-games {
  position: absolute;
  top: 1016px;
  left: 13px;
  font-weight: 500;
}
.games-we-picked {
  top: 1462px;
  left: 29px;
}
.store-parent {
  position: absolute;
  top: 141px;
  left: 416px;
  width: 511px;
  height: 1510px;
  font-size: var(--font-size-21xl);
}
.cart-icon1 {
  position: absolute;
  top: 22px;
  left: 1462px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  cursor: pointer;
}
.navigatin-bar-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-black);
  width: 380px;
  height: 804px;
}
.user-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.tejas-kumar7 {
  position: absolute;
  top: 12px;
  left: 45px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.notification-icon7 {
  position: absolute;
  top: 10px;
  left: 295px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}
.user-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 19px;
  left: 19px;
  width: 330px;
  height: 45px;
}
.gamer-pass7,
.library15,
.store14 {
  position: absolute;
  top: 122px;
  left: 76px;
  font-weight: 500;
  cursor: pointer;
}
.library15,
.store14 {
  top: 204px;
}
.store14 {
  top: 286px;
}
.home-child4,
.home7 {
  position: absolute;
  overflow: hidden;
}
.home-child4 {
  height: 83.33%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 8.33%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.home7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 113px;
  left: 28px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 36px;
  height: 36px;
}
.library-file-archive7 {
  height: 87.43%;
  width: 87.43%;
  top: 6.57%;
  right: 9.43%;
  bottom: 6%;
  left: 3.14%;
  max-width: 100%;
  max-height: 100%;
}
.library-file-archive7,
.library16,
.vector-icon56,
.vector-icon57 {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.library16 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 195px;
  left: 29px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 35px;
  height: 35px;
}
.vector-icon56,
.vector-icon57 {
  height: 21.08%;
  width: 43.51%;
  top: 10.27%;
  right: 47.57%;
  bottom: 68.65%;
  left: 8.92%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon57 {
  height: 38.38%;
  width: 82.43%;
  right: 8.65%;
  bottom: 51.35%;
}
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  position: absolute;
  height: 22.16%;
  width: 24.05%;
  top: 26.76%;
  right: 47.57%;
  bottom: 51.08%;
  left: 28.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  right: 28.38%;
  left: 47.57%;
}
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  right: 8.92%;
  left: 67.03%;
}
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  height: 79.19%;
  width: 58.92%;
  top: 10.27%;
  right: 28.38%;
  bottom: 10.54%;
  left: 12.7%;
}
.vector-icon62,
.vector-icon63 {
  height: 47.3%;
  width: 39.46%;
  top: 42.16%;
  right: 12.97%;
  left: 47.57%;
}
.vector-icon63 {
  height: 31.89%;
  width: 41.89%;
  top: 57.3%;
  right: 28.92%;
  bottom: 10.81%;
  left: 29.19%;
}
.store15 {
  border: 1px solid var(--color-gray-600);
  padding: 0;
  background-color: transparent;
  top: 276px;
  left: 27px;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  overflow: hidden;
}
.settings-icon1,
.settings13,
.store15 {
  position: absolute;
  cursor: pointer;
}
.settings13 {
  top: 697px;
  left: 99px;
  font-weight: 500;
}
.settings-icon1 {
  top: 690px;
  left: 51px;
  width: 38px;
  height: 38px;
  object-fit: cover;
}
.navigatin-bar4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 804px;
  font-size: var(--font-size-xl);
}
.navigation-bar-2-item {
  position: absolute;
  top: 36px;
  left: 653px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
  width: 722px;
  height: 41px;
}
.search-icon1 {
  position: absolute;
  top: 41px;
  left: 662px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.search-for-games1 {
  position: absolute;
  top: 41px;
  left: 707px;
  font-weight: 300;
  color: var(--color-gray-1000);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
.arrow-left-circle-icon1 {
  position: absolute;
  top: 33px;
  left: 416px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.navigation-bar-2-child1,
.navigation-bar-2-inner {
  position: absolute;
  top: 292px;
  left: 896px;
  border-radius: var(--br-3xs);
  width: 437px;
}
.navigation-bar-2-inner {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-300);
  height: 222px;
}
.navigation-bar-2-child1 {
  height: 247px;
  object-fit: cover;
}
.navigation-bar-2-child2,
.navigation-bar-2-child3 {
  position: absolute;
  top: 292px;
  left: 1394px;
  border-radius: var(--br-3xs);
  width: 151px;
}
.navigation-bar-2-child2 {
  filter: blur(4px);
  background-color: var(--color-gray-300);
  height: 222px;
}
.navigation-bar-2-child3 {
  height: 247px;
  object-fit: cover;
}
.navigation-bar-2-child4,
.navigation-bar-2-child5 {
  position: absolute;
  top: 292px;
  left: 429px;
  border-radius: var(--br-3xs);
  width: 437px;
  height: 247px;
}
.navigation-bar-2-child4 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-300);
}
.navigation-bar-2-child5 {
  object-fit: cover;
}
.navigation-bar-2-child10,
.navigation-bar-2-child6,
.navigation-bar-2-child8,
.navigation-bar-2-child9 {
  position: absolute;
  top: 580px;
  left: 480px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: var(--br-mini);
  background-color: var(--color-seagreen);
  width: 216px;
  height: 59px;
}
.navigation-bar-2-child10,
.navigation-bar-2-child8,
.navigation-bar-2-child9 {
  left: 1230px;
}
.navigation-bar-2-child10,
.navigation-bar-2-child9 {
  left: 980px;
}
.navigation-bar-2-child10 {
  left: 730px;
}
.add-ons,
.all-pc-games,
.redeem9,
.top-paid {
  position: absolute;
  top: 595px;
  left: 500px;
  font-weight: 500;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
}
.add-ons,
.redeem9,
.top-paid {
  left: 783px;
}
.add-ons,
.redeem9 {
  left: 1033px;
}
.redeem9 {
  left: 1289px;
}
.image-6-icon,
.image-7-icon,
.image-8-icon,
.image-9-icon {
  position: absolute;
  top: 227px;
  left: 1488px;
  width: 29px;
  height: 31px;
  object-fit: contain;
}
.image-7-icon,
.image-8-icon,
.image-9-icon {
  left: 1447px;
}
.image-8-icon,
.image-9-icon {
  top: 723px;
  left: 1482px;
}
.image-9-icon {
  left: 1441px;
}
.image-10-icon,
.image-11-icon,
.image-12-icon,
.image-13-icon {
  position: absolute;
  top: 1165px;
  left: 1480px;
  width: 29px;
  height: 31px;
  object-fit: contain;
}
.image-11-icon,
.image-12-icon,
.image-13-icon {
  left: 1439px;
}
.image-12-icon,
.image-13-icon {
  top: 1611px;
  left: 1482px;
}
.image-13-icon {
  left: 1441px;
}
.error-inner {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 1077px;
  height: 249px;
}
.error1,
.error2 {
  position: absolute;
  left: 432px;
  width: 1078px;
  height: 286px;
  color: var(--color-black);
}
.error1 {
  top: 777px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  display: none;
}
.error2 {
  top: 1215px;
}
.error-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  width: 1059px;
  height: 249px;
}
.if-any-image3 {
  position: absolute;
  top: 108px;
  left: 160.3px;
  font-weight: 600;
  display: inline-block;
  width: 669.6px;
}
.error-child5,
.error3 {
  position: absolute;
  width: 1069px;
  height: 286px;
}
.error-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.error3 {
  top: 1670px;
  left: 433px;
  color: var(--color-black);
}
.navigation-bar-2-child11,
.navigation-bar-2-child12 {
  position: absolute;
  border-radius: var(--br-smi);
  height: 38px;
}
.navigation-bar-2-child11 {
  top: 2073px;
  left: 783px;
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 282px;
}
.navigation-bar-2-child12 {
  top: 155px;
  left: 1375px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: var(--color-gray-300);
  width: 142px;
}
.browse-all-games,
.filter {
  position: absolute;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.filter {
  top: 162px;
  left: 1430px;
  color: var(--color-gray-800);
  filter: blur(4px);
}
.browse-all-games {
  top: 2080px;
  left: 821px;
}
.icon-filter-icon1 {
  position: absolute;
  height: 0.92%;
  width: 1.31%;
  top: 7.11%;
  right: 7.26%;
  bottom: 91.98%;
  left: 91.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 298px;
  height: 582px;
}
.community2,
.user6 {
  position: absolute;
  top: 44px;
  left: 67px;
  font-weight: 500;
  cursor: pointer;
}
.community2 {
  top: 158px;
}
.close,
.developer,
.feedback,
.sign-out,
.support {
  position: absolute;
  top: 226px;
  left: 67px;
  font-weight: 500;
}
.close,
.developer,
.feedback,
.sign-out {
  top: 283px;
}
.close,
.developer,
.sign-out {
  top: 339px;
}
.close,
.sign-out {
  top: 403px;
  left: 80px;
}
.close {
  top: 449px;
  left: 81px;
}
.user7,
.vector-icon64 {
  position: absolute;
  overflow: hidden;
}
.vector-icon64 {
  height: 87.5%;
  width: 62.5%;
  top: 6.11%;
  right: 18.61%;
  bottom: 6.39%;
  left: 18.89%;
  max-width: 100%;
  max-height: 100%;
}
.user7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 34px;
  left: 24px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 36px;
  height: 36px;
}
.group-child8,
.line-div {
  position: absolute;
  top: 379.5px;
  left: 19.5px;
  border-top: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  width: 258px;
  height: 1px;
}
.group-child8 {
  top: 207.5px;
}
.vector-parent {
  position: absolute;
  top: 22px;
  left: 380px;
  width: 298px;
  height: 582px;
  font-size: var(--font-size-xl);
}
.discussion-forum,
.image,
.online-support,
.users {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 102px;
  left: 400px;
  width: 273px;
  height: 64px;
  background-image: url(./public/image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.discussion-forum,
.online-support,
.users {
  top: 172px;
  left: 402px;
  width: 40px;
  height: 40px;
  background-image: url(./public/users@3x.png);
}
.discussion-forum,
.online-support {
  top: 239px;
  left: 403px;
  width: 37px;
  height: 37px;
  background-image: url(./public/online-support@3x.png);
}
.discussion-forum {
  top: 297px;
  left: 406px;
  width: 34px;
  height: 34px;
  background-image: url(./public/discussion-forum@3x.png);
}
.development-skill-icon {
  position: absolute;
  top: 352px;
  left: 409px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.logout,
.multiply {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 415px;
  left: 409px;
  width: 34px;
  height: 34px;
  background-image: url(./public/logout@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.multiply {
  top: 463px;
  left: 406px;
  width: 40px;
  height: 40px;
  background-image: url(./public/multiply@3x.png);
}
.navigation-bar-2 {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-400);
  height: 2752px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
